<!DOCTYPE html>
<html>
    <body>
        <br>

        Добрый день, <{{ client.first_name }}> <{{ client.last_name }}>!</br></br>
        На Ваш день рождения <{{ client.birthday }}> мы дарим Вам промокод на промокод!</br></br>
 
        <{{ letter.text }}></br>
        </br>
        </br>
        <{{ letter.footer }}>
        </table>
        {% if letter.header != 'Заголовок' %}
        <!-- Maybe this will work on a real server. Instead of //localhost:8000 put a real machine address. --> 
            <img src="http://localhost:8000/api/emails/{{ letter.id }}/is_opened/" width="1px" height="1px" border="0"/>
        {% endif %}
    </body>
</html>