{% extends 'base.html' %}

{% block title %}Форма отправки писем{% endblock title %}

{% block content %}
<form method='POST' id='emailcreateForm'>
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="contact-submit" class="btn btn-success btn-lg" />
</form>
{% endblock content %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // catch the form's submit event
            $('#emailcreateForm').submit(function () {
                // create an AJAX call
                console.log('kek')
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: "{% url 'clients:create_email_form' %}",
                    // on success
                    success: function (response) {
                        alert("Email letter created");
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>
{% endblock javascript %}