{% block header %}
{% load static %}
<header>
  <div>
    <p>sadasdadas{{ request.resolver_match.view_name }}</p>
  </div>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'clients:manage_mail_service' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <span style="color:red">mail</span>service
        </a>
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'clients:clients_list' %}active{% endif %}" href="{% url 'clients:clients_list' %}">Письма</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'clients:letters_list' %}active{% endif %}" href="{% url 'clients:letters_list' %}">Адресаты</a>
        </li>
      </ul>
      
        
    </nav>      
  </header>
{% endblock %}